<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inventory Management System</title>
<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"/>
</head>

<body>
	<section>
   	 <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="" th:src="@{/images/inventory_logo.png}" alt="Inventory Logo" width="75"  			align="left">
          <h1 class="animate-charcter">Inventory Management System</h1>
        </div>
      </div>
   	 </div>
  	</section>
  	
 	<!-- The navigation menu -->
  <div class="navbar">
    <a href="" th:href="@{/index}">Home </a>

    <div class="subnav">
      <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="" th:href="@{/purchase_item}">Buy Products</a>
        <a href="" th:href="@{/order_sell}">Sell Products</a>
        <a href="" th:href="@{/items}">Add New Products</a>
      </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Material <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="" th:href="@{/steel}">Steel</a>
        <a href="" th:href="@{/concrete}">Concrete</a>
        <a href="" th:href="@{/bricksandblocks}">Bricks & Blocks</a>
        <a href="" th:href="@{/floortiles}">Floor Tile</a>
        <a href="" th:href="@{/cable}">Cable</a>
        <a href="" th:href="@{/pipes}">Pipes</a>
      </div>
    </div>
    <a href="" th:href="@{/contact}">Contact us </a>
    <div class="subnav">
      <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="" th:href="@{/aboutProject}">Project</a>
        <a href="" th:href="@{/aboutus}">Team</a>
      </div>
    </div>
    
  </div>
  <br>
  
   <div class ="container">	
	<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/logout}" class = "btn btn-primary btn-sm mb-3">Logout</a>
			</div>
		</div></div>
  
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<div class ="container">
		<div class = "row">
			<h1> Available Items </h1>
		</div>
		
		<table class = "table table-striped table-bordered" style="background-color:white; text-align:center">
			<thead class = "table-dark"  style="font-size: 18px;">
				<tr>
					<th> Item Name</th>
					<th> Description</th>
					<th> Available Quantity </th>
					<th> Reorder Level </th>
					
				</tr>
			</thead>
			
			<tbody style="font-size: 17px; font-weight: 600;">
				<tr th:each = "Item: ${item}">
					<td th:text = "${Item.itemName}"></td>
					<td th:text = "${Item.description}"></td>
					<td th:text = "${Item.availableQuantity}"></td>
					<td th:text = "${Item.reorderLevel}"></td>
					
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>